<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create a post</title>
</head>

<body>
    <div class="flex h-screen">
        <form method="post" action="/posts">
            <input type="text" placeholder="enter username" name="username" />
            <br>
            <textarea name="content" placeholder="write a content"></textarea>
             <br>
            <button>submit</button>
        </form>
    </div>
</body>

</html>